body {
    font-family: "Poppins", sans-serif;
    background: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
  }
  
  .container {
    margin: 3% 5%;
  }
  
  /* Top Section  */
  
  .logo-img {
    width: auto;
    height: 40px;
  }
  
  .container-flex {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
  }
  
  /* Image  */
  
  .img-section {
    padding-right: 5%;
  }
  
  .responsive-img {
    width: 100%;
    height: auto;
  }
  
  /* Content Section  */
  .content-section {
    max-width: 40%;
    color: white;
  }
  
  .content-heading {
  }
  
  .content-description {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  /* Button */
  
  .register-button {
    border: 0;
    margin: 3% 0;
    padding: 4% 13%;
    border-radius: 30px;
    font-size: 1rem;
    color: hsl(257, 40%, 49%);
    letter-spacing: 0.5px;
    box-shadow: 1px 7px 8px 5px rgba(0, 0, 0, 0.2);
  }
  
  .register-button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
  }
  
  .icons {
    color: white;
    margin: 5px;
    position:flex;
    flex-direction: row;
    left: 23rem;
    top: 8rem;
    /* border: 1px solid white; */
  }
  a {
    color: white;
  }
  
  .icon {
    padding: 2%;
    margin: 0 1%;
    border: 1px solid white;
    border-radius: 50%;
  }
  .icon:hover {
    color: hsl(300, 69%, 71%);
    padding: 2%;
    margin: 0 1%;
    border: 1px solid hsl(300, 69%, 71%);
    border-radius: 50%;
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(240, 100%, 100%);
  }
  
  @media (max-width: 1024px) {
    body {
      font-family: "Poppins", sans-serif;
      background: url(images/bg-desktop.svg) no-repeat;
      background-color: hsl(257, 40%, 49%);
    }
    .container-flex {
      flex-direction: column;
    }
    .responsive-img {
      max-width: 100%;
      height: auto;
    }
    .content-section {
      max-width: 100%;
      text-align: center;
    }
  
    .icons {
      color: white;
      position: static;
      padding-top: 2.5rem;
    }
    a {
      color: white;
    }
  
    .icon {
      padding: 2%;
      margin: 0 1%;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
  @media (max-width: 640px) {
    body {
      font-family: "Poppins", sans-serif;
      background: url(images/bg-mobile.svg) no-repeat;
      background-color: hsl(257, 40%, 49%);
    }
  }
  